.content{
    
}
.footer {
    padding:40px 0;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
.footer p{
    color: #777;
    text-align: center;
}

/* Form required fields*/
.form-group{
    position:relative;
    margin-right:15px;
    padding-right:0;
}
.form-group:not(.form-no-required):after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

/* lmLoader directive */
#loading {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}
#loading i.fa {
  -webkit-animation: spin 1s linear infinite normal;
  -moz-animation: spin 1s linear infinite normal;
  -ms-animation: spin 1s linear infinite normal;
  -o-animation: spin 1s linear infinite normal;
  animation: spin 1s linear infinite normal;
}
