<div class="col-md-6 col-md-offset-3">
    <form name="form" class="form-horizontal form-register" novalidate data-ng-submit="save()">
        <h2>Register</h2>
        <div class="form-group">
            <input tabindex="1" type="text" name="fullname" placeholder="Full name" class="form-control" required="required" data-ng-minlength="5" data-ng-maxlength="25" data-ng-model="user.fullname" data-lm-user-feedback />
        </div>
        <div class="form-group">
            <input tabindex="2" type="email" name="email" placeholder="Email" class="form-control" required="required" data-ng-model="user.email" data-lm-user-feedback />
        </div>
        <div class="form-group">
            <input tabindex="3" type="text" name="username" placeholder="Username" class="form-control" required="required" data-ng-minlength="3" data-ng-maxlength="15" data-ng-model="user.username" data-lm-user-feedback />
        </div>
        <div class="form-group">
            <input tabindex="4" type="password" name="password" placeholder="Password (at least 5 characters)" class="form-control" required="required" data-ng-minlength="5" data-ng-maxlength="15" data-ng-model="user.password" data-lm-user-feedback />
        </div>
        <div class="form-group">
            <input tabindex="5" type="password" name="password_confirmation" placeholder="Retype password"  class="form-control" required="required" data-ng-minlength="5" data-ng-maxlength="15"  lm-equals="user.password" data-ng-model="user.password_confirmation" data-lm-user-feedback />
        </div>
        <div class="form-group form-no-required">
            <div class="pull-right">
                <button tabindex="6" type="submit" class="btn btn-primary" data-ng-disabled="isClean() || form.$invalid">Send</button>
            </div>
        </div>
        <div class="form-group form-no-required" data-ng-if="errors">
            <div data-ng-repeat="(key, msg) in errors">
                <p class="alert alert-danger">{{msg[0]}}</p>
            </div>
        </div>
    </form>
</div>
    


