<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lamb</a>
    </div><!--/.navbar-header -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a data-ui-sref="home()">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="#">Register</a></li>
            <li class=""><a href="#">Sign in</a></li>
        </ul>	
    </div><!--/.nav-collapse -->
</div><!--/.container -->